

.App{
  min-height: 100vh;
  background-color: white;
}

.App-title{
  text-align: center;
}

.search-form{
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
<<<<<<< HEAD
=======
<<<<<<< HEAD
  background-color: #EAEAEA;
=======
  color:aquamarine
>>>>>>> a3ef95328f791d272a3379a6a2780e1e50b4f8b9
>>>>>>> 5cf5e5e5058fc30cc940bbde3641f2e5bb28e8e0
}

.search-button{
  background: #D0312D;
  border: none;
  padding: 10px 20px;
  color: white;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}



  


