.App{
  min-height: 100vh;
  background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.App-title{
  text-align: center;
}
