.App{
  min-height: 100vh;
  background-color: white;
}

.App-title{
  text-align: center;
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
  background-color: #EAEAEA;
}

.search-button{
  background: #D0312D;
  border: none;
  padding: 10px 20px;
  color: white;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}



